<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Decide${% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/style_1.css') }}">
   
</head>

<body>

<div class="admin-container">
    <!-- SIDEBAR -->
    <aside class="sidebar">
        <h2 class="logo">Decide$</h2>
        <nav>
            <a href="#">Dashboard</a>
            <a href="{{ path('app_user_index') }}">Users</a>
            <a href="{{ path('app_transaction_index') }}" class="active">Transactions</a>
            <a href="#">Classes</a>
            <a href="#">Aléas</a>
            <a href="#">Reports</a>
        </nav>
    </aside>

    <!-- MAIN CONTENT -->
    <main class="content">
        {% block content %}{% endblock %}
    </main>
</div>

</body>
</html>

