{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<h1>Welcome {{ app.user.nom }}</h1>

<p>Email : {{ app.user.email }}</p>
<p>Solde : {{ app.user.soldeTotal }} DT</p>
<p>Roles : {{ app.user.roles|join(', ') }}</p>
{% endblock %}

